# Archivos internos / soluciones / borradores
5ta_evitar_obstaculos_solucion.ino
codigo_simulador_otro.ino
ab.ino
codigo_simulador.ino
codigo_simulador2.ino
index_lindo.html
engram_export.md

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.swp
*.swo
*~
